---
layout: archive
---

{{ content }}

<!-- <ul class="taxonomy__index">
  {% assign collections_max = 0 %}
  {% for collection in site.collections %}
    {% if collection[1].size > tags_max %}
      {% assign collections_max = tag[1].size %}
    {% endif %}
  {% endfor %}
  {% for i in (1..tags_max) reversed %}
    {% for collection in site.collections %}
      {% if collection[1].size == i %}
        <li>
          <a href="#{{ collection[0] | slugify }}">
            <strong>{{ collection[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign collections_max = 0 %}
{% for collection in site.collections %}
  {% if collection[1].size > collections_max %}
    {% assign collections_max = collection[1].size %}
  {% endif %}
{% endfor %}

{% for i in (1..collections_max) reversed %}
  {% for collection in site.collections %}
    {% if collection[1].size == i %}
      <section id="{{ collection[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ collection[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for doc in collection.documents %}
            {% include archive-single.html type=page.entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %} -->



