---
layout: archive
---


<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">pets</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in site.pets %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>

<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">portfolios</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in site.portfolios %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>



<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">docs</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in site.docs %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>